<!DOCTYPE html>
{% block head %}
<title>#WATCH</title>

<link rel="stylesheet" href="http://50.116.10.109/~ginontherocks/p/test2/static/style.css" type="text/css"/>
{% endblock %}

{% block body %}
<body>
	<nav>
		<a href="http://50.116.10.109/~ginontherocks/p/test2/">SINGLE</a>
		<a href="http://50.116.10.109/~ginontherocks/p/test2/sms">SMS</a>
			<div id='sub-nav'>
				<a href="http://50.116.10.109/~ginontherocks/p/test2/login">ACCOUNT</a>
				<a href="http://50.116.10.109/~ginontherocks/p/test2/comment">COMMENT</a>
			</div>
	</nav>
    <center>
    <section id="form" class="main">
    <h1>#WATCH</h1>
        <form name="quote" action="" method="post">
            <table>
            <tr><td class="tag">WATCH:</td></tr>
			<tr><td><input type="text" name="figure1" size="40" maxlength="40" required /></td></tr>
			<tr><td><input type="text" name="figure2" size="40" maxlength="40" /></td></tr>
			<tr><td><input type="text" name="figure3" size="40" maxlength="40" /></td></tr>
            </table>
            <input type="submit" class="create" value="Create Dashboard" />
        </form>
    </section>
	</center>
</body>
{% endblock %}